@use './variables.scss' as *;

main{
    padding: 4.5rem 1rem 1rem 1rem;
    background-color: $background-gray;
}

.default-container{
    padding: 0.8rem 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px $shadow-effect;
}

.upper-text{
    text-transform: uppercase;
}

.title{
    @extend .upper-text;
    font-size: large;
}

.align-center{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-component{
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    gap: 0.5rem;
    padding: 0.8rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 5px gray;
}