/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

// Cores
$red: #F44236;
$blue: #1661AE;
$blue-dark: #3E70C9;
$green-white: #20B9AE;
$gray: #FFFFFF80;
$gray-black: #949494;
$background-gray: #E8EBF0;
$shadow-effect: #99999980;
