@use '/public/styles/variables.scss' as *;
@use 'swiper/css' as *;
@use 'swiper/css/navigation' as *;

.container-contant{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: $gray-black;

    .text-contant{
        display: flex;
    }

    .text-contant{
        flex-direction: column;
        font-size: small;
        justify-content: center;

        .title{
            text-transform: uppercase;
            font-weight: bold;
            color: black;
        }
        
        >a{
            color: $gray-black;
            cursor: pointer;
            width: fit-content;
            padding-top: 0.6rem;
        }
    }

    .index{
        font-size: xx-large;
        font-weight: bold;
    }
}